img {
    max-width: 100%;
}


.top {

    background-color: white;
    text-align: center;
    word-wrap: break-word;
    padding: 0 1rem;

}

.title {
    width: inherit;
    min-height: 3rem;
    font-size: 1.4rem;
    line-height: 3rem;
}

.author {
    width: inherit;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.7rem;
    color: #7c7c7c;
}

.time {
    width: inherit;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.7rem;
    color: #7c7c7c;
}

.main {


}